<form [formGroup]="form">
  <fieldset class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4">
    <legend class="fieldset-legend">Page title</legend>
    <fieldset class="fieldset">
      <legend class="fieldset-legend">Tipo de Conta</legend>
      <select class="select" formControlName="accountType">
        <option disabled selected>Escolha o tipo de conta</option>
        @for ( type of accountTypes() ; track type ) {
        <option [value]="type">{{ type }}</option>
        }
      </select>
      <span class="label">Optional</span>
    </fieldset>
    <form formGroupName="privacySettings">
      <fieldset class="fieldset">
        <legend class="fieldset-legend">Visibilidade da Conta</legend>
        <select class="select" formControlName="visibility">
          <option disabled selected>Escolha a visibilidade da conta</option>
          @for ( visibility of accountVisibilities() ; track visibility ) {
          <option [value]="visibility">{{ visibility }}</option>
          }
        </select>
        <span class="label">Optional</span>
      </fieldset>
    </form>
    <pre>Form Value: {{ form.value | json }}</pre>
     <pre>Form erros: {{ form.errors| json }}</pre>
  </fieldset>
</form>
