<ng-container [formGroup]="form">
  <fieldset class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4">
    <legend class="fieldset-legend">Dados de pagamento</legend>

    <label class="label">Cartão de crédito</label>
    <input
      type="text"
      class="input"
      placeholder="0000 0000 0000 0000"
      formControlName="creditCard"
    />

    <label class="label">Expiração</label>
    <input type="text" class="input" placeholder="MM/yy" formControlName="expiry" />

    <label class="label">CVV</label>
    <input type="text" class="input" placeholder="000" formControlName="cvv" />
  </fieldset>
</ng-container>
